@import 'tailwindcss';
@import '../node_modules/@picocss/pico/css/pico.conditional.min.css';
@import 'ngx-toastr/toastr';

/* You can add global styles to this file, and also import other style files */
html,
body {
  display: block;
  height: 100%;
}

layout > footer,
layout > header,
layout > main {
  padding-block: var(--pico-block-spacing-vertical);
}
